/Cityscapes
/GTA5
/my_checkpoint
/Lib
/Scripts

/share

/checkpoints/latest*
/checkpoints/best*
/checkpoints/Cityscapes
/checkpoints/GTA5
/checkpoints/Cross-Domain
/checkpoints/Data-Augmentation

/model/__pycache__
/__pycache__

pyvenv.cfg

